// Variable overides
$enable-gradients: true;

// Import all of Bootstrap
@import "../bootstrap/scss/bootstrap";

//@include media-breakpoint-up(sm) {
//    
//}
//
//@include media-breakpoint-up(md) {
//    
//}
//
//@include media-breakpoint-up(lg) {
//    
//}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.card-body {
    padding: 10px;
}

.student-pic-pro {
    width: 130px;
    height: 130px;
}

.question-pic {
    width: 88.5px;
    height: 88.5px;
}